<header class="bg-gray-900 sm:px-4 sm:py-3">
  <div
    class="max-w-full lg:max-w-6xl mx-auto sm:flex sm:justify-between sm:items-center"
  >
    <div class="flex items-center justify-between px-4 py-3 sm:p-0">
      <div>
        <img src="/img/logo-inverted.svg" alt="Workcation" class="h-8" />
      </div>
      <div class="sm:hidden">
        <button
          type="button"
          class="block text-gray-500 hover:text-white focus:outline-none"
        >
          <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
            <!---->
            <path
              fill-rule="evenodd"
              d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="sm:block hidden">
      <div class="px-2 pt-2 pb-4 sm:flex sm:p-0">
        <a
          href="#"
          class="block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800"
          >List your property</a
        ><a
          href="#"
          class="mt-1 block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 sm:mt-0 sm:ml-2"
          >Trips</a
        ><a
          href="#"
          class="mt-1 block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 sm:mt-0 sm:ml-2"
          >Messages</a
        >
        <div class="relative lg:z-10 hidden sm:block sm:ml-6">
          <button
            class="relative z-10 block h-8 w-8 rounded-full overflow-hidden border-2 border-gray-600 focus:outline-none focus:border-white"
          >
            <img
              src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=256&amp;q=80"
              alt="Your avatar"
              class="h-full w-full object-cover object-center"
            /></button
          ><!----><!---->
        </div>
      </div>
      <div class="px-4 py-5 border-t border-gray-800 sm:hidden">
        <div class="flex items-center">
          <img
            src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=256&amp;q=80"
            alt="Your avatar"
            class="h-8 w-8 border-2 border-gray-600 rounded-full object-cover"
          /><span class="font-semibold ml-3 text-white">Jane Doe</span>
        </div>
        <div class="mt-4">
          <a href="#" class="block text-gray-400 hover:text-white"
            >Account settings</a
          ><a href="#" class="mt-2 block text-gray-400 hover:text-white"
            >Support</a
          ><a href="#" class="mt-2 block text-gray-400 hover:text-white"
            >Sign out</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
