<div class="flex items-center rounded-lg bg-white shadow-lg overflow-hidden">
  <img [src]="item.image" [alt]="item.name" class="h-32 w-32 flex-shrink-0" />
  <div class="px-6 py-4">
    <h3 class="text-lg font-semibold text-gray-800">{{ item.name }}</h3>
    <p class="text-gray-600">${{ item.price }} / night average</p>
    <div class="mt-4">
      <a
        href="#"
        class="text-indigo-500 hover:text-indigo-400 font-semibold text-sm"
        >Explore {{ item.properties }} properties</a
      >
    </div>
  </div>
</div>
